# Maven specific
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IDE specific
.idea/
*.iml
*.ipr
*.iws
.settings/

# Operating System specific
.DS_Store
Thumbs.db
